.Welcome-conteiner{
    max-width: 380px;
    margin: 20px auto;
    h1{
        color: white;
    }h3{
        color: gray;
    }
}
.Ul-conteiner{
    max-width: 380px;
    margin: 20px auto;
    ul{
        display: flex;
        gap: 30px;
        li{
            color: white;
        }
    }
}