*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
body{
  background: rgb(120,30,207);
  background: linear-gradient(90deg, rgba(120,30,207,1) 0%, rgba(15,8,23,1) 80%);
}